* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width:1000px) {

    .content {
        display: flex;
        flex-direction: column;
        height: 60%;
        flex-wrap: wrap;
    }

    .content-a {
        background-color: red;
        width: 70%;
        height: 50%;


    }

    .content-b {
        background-color: orange;
        width: 70%;
        height: 50%;
    }

    .content-c {
        background-color: yellow;
        width: 30%;
        height: 100%;
    }


    .head {
        background-color: lightgray;
        width: 100%;
        height: 15%;
        margin-bottom: auto;
    }

    .foot {
        background-color: lightgray;
        width: 100%;
        height: 15%;
        margin-top: auto;
    }
}

@media screen and (min-width:600px) and (max-width:1000px) {
    .content {
        display: flex;
        flex-direction: column;
        height: 75%;
        flex-wrap: wrap;
        /* margin-bottom: 0px; */
    }

    .content-a {
        background-color: red;
        width: 70%;
        height: 50%;
    }

    .content-b {
        background-color: orange;
        width: 70%;
        height: 50%;
    }

    .content-c {
        background-color: yellow;
        width: 30%;
        height: 100%;
    }


    .head {
        background-color: lightgray;
        width: 100%;
        height: 10%;
        margin-bottom: auto;
    }

    .foot {
        background-color: lightgray;
        width: 100%;
        height: 10%;
        margin-top: auto;
    }
}

@media screen and (max-width:600px) {
    

    .content {
        display: flex;
        flex-direction: column;
        height: 70%;
    }

    .content-a {
        background-color: red;
        width: 100%;
        height: 33%;

    }

    .content-b {
        background-color: orange;
        width: 100%;
        height: 33%;
    }

    .content-c {
        background-color: yellow;
        width: 100%;
        height: 33%;
    }


    .head {
        background-color: lightgray;
        width: 100%;
        height: 10%;
        margin-bottom: auto;
    }

    .foot {
        background-color: lightgray;
        width: 100%;
        height: 10%;
        margin-top: auto;
    }
}
